@font-face {
   font-family: 'AgencyFBBold';
   font-display: swap;
   src: url('file:///C:/Users/GiveAlot/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-11-15_140356/fonts/AgencyFBBold/font.ttf');
}
